<div class="container">
    @if (cartService.cartSource$ | async; as cart) {
        @if (cart != null && cart.items.length > 0) { 
            <div class="container">
                <div class="row">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="bg-light text-uppercase">
                                <tr>
                                    <th><div class="py-2">Product</div></th>
                                    <th><div class="py-2">Price</div></th>
                                    <th><div class="py-2">Quantity</div></th>
                                    <th><div class="py-2">Total</div></th>
                                    <th><div class="py-2"></div></th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (item of cart.items; track $index) {
                                    <tr>
                                        <th>
                                            <div class="p-2 d-inline-block" routerLink="/shop/{{item.id}}" style="cursor: pointer;">
                                                <img src="{{item.pictureUrl}}" 
                                                    alt="{{item.productName}}"
                                                    class="img-fluid"
                                                    style="max-height: 50px;"    
                                                >
                                                <div class="ms-3 d-inline-block align-middle">
                                                    <h5 class="mb-0">
                                                        <a href="" class="text-dark text-decoration-none">
                                                            {{item.productName}}
                                                        </a>
                                                    </h5>
                                                    <span class="text-muted">
                                                        {{item.brand}}'s {{item.type}}
                                                    </span>
                                                </div>
                                            </div>
                                        </th>
                                        <td class="align-middle">
                                            <strong>{{item.price | currency}}</strong>
                                        </td>
                                        <td class="align-middle">
                                            <div class="d-flex align-items-center">
                                                <i (click)="decrementQuantity(item.id)" 
                                                    class="fa fa-minus-circle text-warning me-3" 
                                                    style="cursor: pointer; font-size: 1.5em;"
                                                ></i>
                                                <span style="font-size: 1.5em;">
                                                    {{item.quantity}}
                                                </span>
                                                <i (click)="incrementQuantity(item.id)" 
                                                    class="fa fa-plus-circle text-warning ms-3" 
                                                    style="cursor: pointer; font-size: 1.5em;"
                                                ></i>
                                            </div>
                                        </td>
                                        <td class="align-middle">
                                            <strong>{{item.price * item.quantity | currency}}</strong>
                                        </td>
                                        <td class="align-middle">
                                            <a (click)="decrementQuantity(item.id, item.quantity)" class="text-danger">
                                                <i class="fa fa-trash" style="cursor: pointer; font-size: 1.5em;"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 offset-6">
                        <app-order-total></app-order-total>
                        <div class="d-grid">
                            <a routerLink="/checkout" class="btn btn-outline-primary mb-4">
                                Proceed to checkout
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }
        @else {
            <div>
               <p>There are no items in the cart</p>
            </div>
        }
    }
</div>
