.cart-no {
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: orange;
    color: white;
    text-align: center;
    top: -12px;
    right: 32px;
}

a {
    text-decoration: none;
    color: darkslategray;

    &.active {
        color: orange;
    }
}

.logo {
    cursor: pointer;
}